    
    <div>
        <label for="name">Votre nom :</label>
        <input name="name" id="name" type="text">
        <span class="notif-form" id="notif-name"></span>
    </div>
    
    <div>
        <label for="first_name">Votre prénom :</label>
        <input name="first_name" id="first_name" type="text">
        <span class="notif-form" id="notif-first_name"></span>
    </div>
    
    <div>
        <label for="email">Votre email:</label>
        <input name="email" id="email" type="text">
        <span class="notif-form" id="notif-email"></span>
    </div>
    
    <div>
        <label for="password">
            Votre mot de passe :
            <span class="ion-eye" data-id-input="password" ></span>
        </label>
        <input name="password" id="password" type="password">
        <span class="notif-form" id="notif-password"></span>
    </div>
    
    <div>
        <label for="password_conf">
            Confirmez :
            <span class="ion-eye" data-id-input="password_conf" ></span>
        </label>
        <input name="password_conf" id="password_conf" type="password">
        <span class="notif-form" id="notif-password_conf"></span>
    </div>