<header>

    <div id="contains-header" >

        <figure>
            <a href="/">    
                <img src="{{asset("images/header/home.png")}}" alt="Logo cliquable d'acceuil" id="logo-home" >
            </a>
        </figure>

        <div class="group-by" id="register-header">

            <h2>Inscription</h2>

            <div id="sub-nav-register">

                <a href="/registerVolunteer/">Bénévole</a>
                
                <a href="/registerWinemaker/">Vigneron</a>

            </div>

        </div>

        <div class="group-by" id="login-header">

            <h2>Connexion</h2>

            <div id="sub-nav-login">

                <a href="#">Bénévole</a>
            
                <a href="#">Vigneron</a>

            </div>

        </div> 

        <figure>
            <img src="{{asset("images/logo/logo.jpg")}}" alt="" id="logo-benevigne">
        </figure>

    </div>

</header>